/*
19) Criar a tabela a seguir utilizando HTML e CSS. Todas as alterações de CSS devem ser
feitas utilizando classes e seletores CSS, em um arquivo .css.
*/
table,tr,td{
    border : 1px solid black;
    border-spacing : 0px;
    border-collapse : collapse;
}
#centro{
    text-align : center;
}
#branco{
    color : white;
    background : black;
}
#vermelho{
    color : yellow;
    background: red;
}
.negrito{
    font-weight: bold;
}

